@{
    ViewBag.Title = "Chat";
}
<h2>Chat</h2>
<div class="container">
    <div class="col-md-8 col-lg-8">
        <input type="hidden" id="displayname" />
        <input type="hidden" id="pass" />
        <input type="hidden" id="ChatId" />        
        <div>
            <input type="text" id="message" />
            <input type="button" id="sendmessage" value="Send" />
        </div>
        <ul id="discussion">
        </ul>
    </div>
    <div class="container col-md-4 col-lg-4">
        <div class="button-wrapper" id="AdminMenu">
        </div>
        <ul id="Stats"></ul>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ChatScript.js"></script>
}